{% extends 'base.html.twig' %}

{% block title %}Editing a Post {% endblock %}

{% block bread %}
→ Edit Post
{% endblock %}

{% block body %}
    <h3>Edit ay post</h3>
    {% include "micro_post/_form.html.twig" %}
{% endblock %}
